body {
  background-color: lightgrey;
  text-align: center;
}

img {
  width: 15%;
  height: 15%;
}

.selfie{
  width: 15%;
  height: 15%;
}

.senior_design_img {
  width: 50%;
  height: 50%;
}

.about_me_img {
  width: 35%;
  height: 35%;
}